table{
	border-collapse:collapse;
}
td,tr{
	border:3px solid black;
	height:40px;
	padding-left:20px;
}
tr:nth-child(even){
	background-color:lightgrey;
}
.a{
	width:15%;
}

.picbox{
	width:10%;
	height:20%;
	margin:auto;
	margin-bottom:20px;
	
}
.tble{
	margin-left:5%;
	height:70%;
	width:100%;
	
}

.enter{
	background-color:#00fffac9;
	color:white;
	height:5%;
	width:10%;
	margin-top:1%;
	margin-left:43%;
}
.enter:hover{ 
	background-color:blue;

}