.ine{
	margin:auto;
	margin-top:10%;
	height:40%;
	width:30%;
	display:block;
	background-color:green;
	border-radius:20px;
	display:relative;
}


.b{
	background-color:yello;
	margin-top:30%;
	height:70%;
	width:100%;
	margin-left:30%;
	display:relative;
	display:block;
	color:white;
	
}


.enter{
	background-color:#00fffac9;
	color:white;
	height:15%;
	width:20%;
	align:center;
	margin-top:2%;
	margin-left:5%;
}
.enter:hover{ 
	background-color:blue;


}

.back{
	background-color:lightgrey;
	color:white;
	height:15%;
	width:20%;
	margin-top:2%;
	margin-left:5%;
}